.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  width: 500px;
  height: auto;
  position: relative;
  padding: 40px;
  margin: 0;
}

.panel {
  
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  
}
.share-quote {
  margin-right: auto;
  margin-left: 20px;
}

.quote {
  margin: 0;
  font-size: 30px;
  color: green;
}
.author {
  font-size: 20px;
  text-align: right;
  color: green;
}
#new-quote {
  cursor: pointer;
}